@model List<ReminderType>

@{
  ViewBag.Title = "Reminder Types";
  Layout = "_Layout";
}

<h2>Reminders Types</h2>

<p>
  <a asp-action="CreateOrEdit" asp-route-id="0">Create</a>
</p>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @foreach (var type in Model ?? new List<ReminderType>())
    {
      <tr>
        <td>@type.Name</td>
        <td>
          <a asp-action="CreateOrEdit" asp-route-id="@type.Id">Edit</a>
        </td>
      </tr>
    }
  </tbody>
</table>
