@using Tracker.Data
@using Microsoft.EntityFrameworkCore
@using System.Linq
@using Microsoft.AspNetCore.Identity
@model Tracker.Models.Reminder
@inject ApplicationDbContext _db
@inject UserManager<ApplicationUser> _userManager

@{
  var reminderTypes = await _db.ReminderTypes.Where(x => x.UserId == _userManager.GetUserId(User))
    .Select(x => new SelectListItem(x.Name, x.Id.ToString())).ToListAsync();
}

<div class="mb-3">
  <label asp-for="Name" class="form-label">Name</label>
  <input type="text" required class="form-control" asp-for="Name">
  <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
  <label asp-for="ReminderTypeId" class="form-label">Category</label>
  <select asp-for="ReminderTypeId" class="form-select" asp-items="reminderTypes">
    <option>-- Select --</option>
  </select>
  <span asp-validation-for="ReminderTypeId" class="text-danger"></span>
</div>
<div class="mb-3">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" asp-for="IsActionable">
    <label class="form-check-label" asp-for="IsActionable">
      Actionable?
    </label>
    <div class="form-text">
      If checked, completions will be tracked, and buttons will be sent with each reminder to mark an action
    </div>
    <span asp-validation-for="IsActionable" class="text-danger"></span>
  </div>
</div>
<div class="mb-3">
  <label asp-for="CronLocal" class="form-label" aria-describedby="cronHelp">Cron Expression</label>
  <input type="text" asp-for="CronLocal" class="form-control"/>
  <div class="form-text">This will be a user-friendly UI control at some point...</div>
  <span asp-validation-for="CronLocal" class="text-danger"></span>
</div>
<div class="mb-3">
  <label asp-for="StartDate" class="form-label">Start Date</label>
  <input type="datetime-local" class="form-control" asp-for="StartDate">
  <span asp-validation-for="StartDate" class="text-danger"></span>
  <button type="button" class="btn btn-link" onclick="document.getElementById('@Html.IdFor(x => x.StartDate)').value = null;">Clear</button>
</div>
<div class="mb-3">
  <label asp-for="EndDate" class="form-label">End Date</label>
  <input type="datetime-local" class="form-control" asp-for="EndDate">
  <span asp-validation-for="EndDate" class="text-danger"></span>
  <button type="button" class="btn btn-link" onclick="document.getElementById('@Html.IdFor(x => x.EndDate)').value = null;">Clear</button>
</div>
<div class="mb-3">
  <label asp-for="ReminderMinutes" class="form-label">Minutes between reminders</label>
  <input type="number" required class="form-control" asp-for="ReminderMinutes">
  <div class="form-text">Enter -1 for one reminder with auto completion</div>
  <span asp-validation-for="ReminderMinutes" class="text-danger"></span>
</div>
<div class="mb-3">
  <label asp-for="EveryNTriggers" class="form-label">Run every X cron triggers</label>
  <input type="number" required class="form-control" asp-for="EveryNTriggers">
  <span asp-validation-for="EveryNTriggers" class="text-danger"></span>
</div>

<button type="submit" class="btn btn-primary">Save</button>