@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>To log in, click the button below or send "/login" to the bot and tap the provided link.</p>
  
  <partial name="_TelegramLoginButtonPartial" />
</div>