@using Humanizer
@using Humanizer.Localisation
@using Tracker.Services
@model IEnumerable<CountUpHistory>
@inject UserAccessor UserAccessor

@{
  ViewBag.Title = "CountUp History";
  Layout = "_Layout";
  var localTime = await UserAccessor.GetUserTimeZone() ?? TimeZoneInfo.Utc;
  var utcNow = DateTime.UtcNow;
}

<h2>CountUps</h2>
<table class="table">
  <thead>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Duration</th>
  </tr>
  </thead>
  <tbody>
    @foreach (var history in Model)
    {
      var startLocal = TimeZoneInfo.ConvertTimeFromUtc(history.StartTimeUtc, localTime);
      DateTime? endLocal = history.EndTimeUtc is not null
        ? TimeZoneInfo.ConvertTimeFromUtc(history.EndTimeUtc.Value, localTime)
        : null;
      var difference = (history.EndTimeUtc ?? utcNow) - history.StartTimeUtc;
      <tr>
        <td>@startLocal</td>
        @if (endLocal is not null)
        {
          <td>@endLocal</td>
        }
        else
        {
          <td>(Still running)</td>
        }
        <td
          title="@difference.Humanize(precision: 99, maxUnit: TimeUnit.Year, minUnit: TimeUnit.Second)">
          @difference.Humanize(precision: 2, maxUnit: TimeUnit.Year)
        </td>
      </tr>
    }
  </tbody>
</table>
